<!DOCTYPE html>
<html>
    <head>
        <title>
            My own website - {% block title%}{% endblock %}
        </title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="stylesheet" href="static\css\style.css"> -->
    </head>

    <body>
        <nav>
            <li><a href="{{ url_for('index') }}"> Home Page </a></li>
            <li><a href="{{ url_for('hello') }}"> Hello </a></li>
            <li><a href="{{ url_for('code', code = 'print(code)') }}"> Code </a></li>
            <li><a href="{{ url_for('register') }}"> Sign up </a></li>
        </nav>

        {% block content %}
        <!-- Block of content -->
        {% endblock %}
    
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>  

</html>
